compatibility_level = 2
myhostname = {{ mail_hostname }}
myorigin = $mydomain
inet_interfaces = loopback-only
mydestination =
smtpd_sasl_path = smtpd
smtpd_sasl_type = cyrus
smtpd_sasl_auth_enable = yes
