# Federation
# ----------
# This identifies your server and cannot be changed safely later
# ----------
LOCAL_DOMAIN={{ local_domain }}
WEB_DOMAIN={{ web_domain }}

# Redis
# -----
REDIS_HOST={{ redis_host }}
REDIS_PORT={{ redis_port }}

# PostgreSQL
# ----------
DB_HOST={{ db_host }}
DB_USER={{ db_user }}
DB_NAME={{ db_name }}
DB_PASS="{{ db_pass }}"
DB_PORT={{ db_port }}

# Elasticsearch (optional)
# ------------------------
ES_ENABLED=false
ES_HOST=localhost
ES_PORT=9200
# Authentication for ES (optional)
ES_USER=elastic
ES_PASS=password

# Secrets
# -------
# Make sure to use `rake secret` to generate secrets
# -------
SECRET_KEY_BASE={{ secret_key_base }}
OTP_SECRET={{ otp_secret }}

# Web Push
# --------
# Generate with `rake mastodon:webpush:generate_vapid_key`
# --------
VAPID_PRIVATE_KEY={{ vapid_private_key }}
VAPID_PUBLIC_KEY={{ vapid_public_key }}

# Sending mail
# ------------
SMTP_SERVER={{ smtp_server }}
SMTP_PORT={{ smtp_port }}
SMTP_LOGIN="{{ smtp_login | replace("@", "\@") }}"
SMTP_PASSWORD={{ smtp_password }}
SMTP_FROM_ADDRESS={{ smtp_from_address }}

# File storage (optional)
# -----------------------
S3_ENABLED={{ s3_enabled | lower }}
S3_BUCKET={{ s3_bucket }}
AWS_ACCESS_KEY_ID={{ s3_access_id }}
AWS_SECRET_ACCESS_KEY={{ s3_secret_access_key }}
S3_OVERRIDE_PATH_STYLE={{ s3_is_path_style | lower }}
S3_ENDPOINT={{ s3_hostname }}
# % if s3_has_alias %
S3_ALIAS_HOST={{ s3_alias }}
# % endif %

# IP and session retention
# -----------------------
# Make sure to modify the scheduling of ip_cleanup_scheduler in config/sidekiq.yml
# to be less than daily if you lower IP_RETENTION_PERIOD below two days (172800).
# -----------------------
IP_RETENTION_PERIOD={{ ip_retention_period }}
SESSION_RETENTION_PERIOD={{ session_retention_period }}
